
input/the-movies-dataset/about.pdf
input/the-movies-dataset/credits.csv
input/the-movies-dataset/keywords.csv
input/the-movies-dataset/links.csv
input/the-movies-dataset/links_small.csv
input/the-movies-dataset/movies_metadata.csv
input/the-movies-dataset/ratings_small.csv
input/tmdb-movie-metadata/tmdb_5000_credits.csv
input/tmdb-movie-metadata/tmdb_5000_movies.csv
